<style>
    .admin-page {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 50px;
  margin-top: 200px;
}
</style>

<center>
<div class="container mt-5 background">
    <h1 class="admin-page">Admin Page</h1>
</div>
</center>